<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yabng.mapper.RoleMapper">

    <select id="selectAll" resultType="com.yabng.domain.vo.system_admin.AdminRoleVo">
        select * from role
    </select>
    <select id="selectNonSuperAdminRoles" resultType="com.yabng.domain.vo.system_admin.AdminRoleVo">
        select * from role where id != 4 and id != 0
    </select>
    <select id="getById" resultType="com.yabng.domain.vo.system_admin.AdminRoleVo">
        select * from role where id = #{id}
    </select>
</mapper>